* {
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 2;
    background-color: #14213D;
    color: #E5E5E5
}

section {
    background-color: #E5E5E5;
}

.navbar {
    width: 300px;

    position: absolute;
    left: 0;
    z-index: -1;
}

.navbar-opened {
    height: 90vh;

    visibility: visible;
    background-color: #FCA311;
    color: #000000;

    transition: all 0.75s ease;

}

.navbar-closed{
    height: 0;
    visibility: hidden;
    background-color: #FCA311;
    color: #000000;

    transition: all 0.5s ease;
    transition-delay: 0.25s;
}

.navbutton-back {
    width: 300px;
    height: 10vh;

    display: flex;
    align-items: center;

    > p {
        margin-left: 10px;
        cursor: pointer;

        svg {
            height: 5vh;
            width: 5vh;
        }
    }
}

.navbutton-back-opened {
    background-color: #FCA311;
    color: #000000;

    transition: background-color 0.25s ease;

}

.navbutton-back-closed {
    background-color: #14213D;

    transition: all 0.25s ease;
    transition-delay: 0.5s;

    > p > svg {
        color: #E5E5E5;
    }

    > p > svg:hover{
        color: #979797;
    }
}

#login-group {
    width: 300px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;

    a > svg {
        height: 5vh;
        width: 5vh;
        color: #E5E5E5;
    }

    a > svg:hover {
        color: #979797;
    }
}

