* {
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: inherit;
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 2;
    background-color: #14213d;
    color: #e5e5e5;
}

section {
    min-height: 90vh;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 300px;

    position: absolute;
    left: 0;
    z-index: 4;
}

.navbar-opened {
    height: 90vh;

    visibility: visible;
    background-color: #fca311;
    color: #000000;

    transition: all 0.75s ease;
}

.navbar-closed {
    height: 0;
    visibility: hidden;
    background-color: #fca311;
    color: #000000;

    transition: all 0.5s ease;
    transition-delay: 0.25s;
}

.navbutton-back {
    width: 300px;
    height: 10vh;

    display: flex;
    align-items: center;

    > p {
        margin-left: 10px;
        cursor: pointer;

        svg {
            height: 5vh;
            width: 5vh;
        }
    }
}

.navbutton-back-opened {
    background-color: #fca311;
    color: #000000;
    transition: background-color 0.25s ease;
}

.navbutton-back-closed {
    background-color: #14213d;

    transition: all 0.25s ease;
    transition-delay: 0.5s;

    > p > svg {
        color: #e5e5e5;
    }

    > p > svg:hover {
        color: #979797;
    }
}

#login-group {
    width: 300px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;

    svg {
        height: 5vh;
        width: 5vh;
        color: #e5e5e5;
    }

    svg:hover {
        color: #979797;
    }
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.table {
    width: 80vw;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.right-side {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.left-side {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.groups-table-head,
.groups-table-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.element {
    background-color: #ffffff;

    height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-size: 17px;
}

.element-border {
    border: 2px solid #14213d;
}

.filter-block {
    display: flex;
    margin-top: 20px;
}

.filter-style select {
    width: 120px;
    height: 45px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #14213d;
}

.student-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #14213d;
    border-radius: 5px;

    > span {
        border-left: 1px solid #14213d;
    }
    > span:hover {
        background-color: #fca311;
    }
}

#login-form {
    height: 60vh;
    width: 30vw;
    background-color: #ffffff;
    border-radius: 3vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    > h2 {
        font-size: 40px;
    }

    > button {
        width: 70%;
        height: 45px;
        border-radius: 10px;
        margin-top: 10px;

        background-color: #14213d;
        color: #e5e5e5;
        border: none;

        font-size: 15px;
    }

    > button:hover {
        background-color: #fca311;
        color: #000000;
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;

    > label {
        font-size: 20px;
    }

    > input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }
}
